
<!DOCTYPE html>
<html>
<head>
    <title>GitLab Features</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="app">
        <select v-model="filterOffering">
            <option value="">All Offerings</option>
            <option value="GitLab.com">GitLab.com</option>
            <option value="Self-managed">Self-managed</option>
            <option value="GitLab Dedicated">GitLab Dedicated</option>
        </select>
        <select v-model="filterStatus">
            <option value="">All Status</option>
            <option value="Generally Available">Generally Available</option>
            <option value="Beta">Beta</option>
            <option value="Experiment">Experiment</option>
        </select>
        <select v-model="filterTier">
            <option value="">All Tiers</option>
            <option value="Ultimate">Ultimate</option>
            <option value="Premium">Premium</option>
            <option value="Free">Free</option>
        </select>
        <ul>
            <li v-for="feature in filteredFeatures">
                { feature.Goal } - { feature.Feature } - { feature.Tier } - { feature.Offering } - { feature.Status }
            </li>
        </ul>
    </div>
    <script src="2024-05-03_23-11gitlab_features.js"></script>
</body>
</html>
